<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.panneto.pannetousuario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_panneto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_panneto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.SignupActivity"></activity>
        <activity android:name=".Activities.MenuActivity"></activity>
        <activity android:name=".Activities.CopyrightActivity" android:parentActivityName=".Activities.MenuActivity"></activity>
        <activity android:name=".Activities.PrivacyPolicyActivity" android:parentActivityName=".Activities.MenuActivity"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logopaneto" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>